$main-theme-color-01: rgb(38, 90, 186);
$main-theme-color-02:rgb(38, 181, 186);
$main-theme-color-03: #969696;

$main-theme-background-01: #FFF;
$main-theme-background-02: #F9F9F9;

$main-theme-border: 1px solid #EBEBEB;
