@import 'mixins';
@import 'colors';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
*,*::after,*::before{
    line-height: 1;
    padding: 0;
    margin: 0;
}

html, body{
    background: $main-theme-background-02;

    font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: column;

    height: 100%;
}

body .ng-scope {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    margin: 0 auto;
    width: calc(100% - 20px);
}

#app-head{
    width: 100%;
    height: auto;
}